body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF8E1; /* Light cream background */
  height: 100vh; /* Set body height to 100% of viewport height */
  overflow: hidden; /* Prevent scrolling on the body */
}

html {
  height: 100%; /* Set html height to 100% */
  overflow: hidden; /* Prevent scrolling on the html element */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
